body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #58dafa;
}

.quem-somos {
    background-color: #81a0f7;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 1px;
}

.parceiros {
    background-color: #58dafa;
}

.servicos {
    background-color: #81a0f7;
    color: white;
}

.bg-footer {
    margin-top: -25px;
    padding-top: 20px;
    background-color: #58dafa;
}